*.pth
*.pyc
egomimic.egg-info/
*.hdf5
*.txt
*.out.*
egomimic/debug
trained_models_highlevel/
trained_models_lowlevel/
egomimic/scripts/exps
*.ipynb_checkpoints
*.mp4
egomimic/scripts/hand_process/stereo_depth.ipynb
egomimic/scripts/hand_process/triangulation.py
egomimic/scripts/figures
egomimic/**/*.png
egomimic/**/*.jpg
egomimic/**/*.svg
act/detr/detr.egg-info/PKG-INFO
egomimic/v_3_after.png
egomimic/v_3.png
egomimic/scripts/masking/overlays/
debug_ims/*
egomimic/scripts/aloha_process/datasetFig
