*.pth
*.pyc
mimicplay.egg-info/
*.hdf5
*.txt
*.out.*
mimicplay/debug
trained_models_highlevel/
trained_models_lowlevel/
mimicplay/scripts/exps
*.ipynb_checkpoints
*.mp4
mimicplay/profile.svg
mimicplay/scripts/calibrate_camera/calibration_imgs