*.pth
*.pyc
mimicplay.egg-info/
*.hdf5
*.txt
*.out.*
mimicplay/debug
trained_models_highlevel/
trained_models_lowlevel/
mimicplay/scripts/exps
*.ipynb_checkpoints
*.mp4
mimicplay/profile.svg
mimicplay/scripts/hand_process/stereo_depth.ipynb
mimicplay/scripts/hand_process/triangulation.py
mimicplay/scripts/hand_process/left_0.jpg
mimicplay/scripts/hand_process/right_0.jpg
mimicplay/scripts/calibrate_camera/calibration_imgs
mimicplay/scripts/aloha_process/aria_content/hand_img.png
mimicplay/scripts/aloha_process/aria_content/robot_traj_2.png
mimicplay/scripts/aloha_process/aria_content/robot_traj_150.png
mimicplay/scripts/aloha_process/aria_content/robot_traj_250.png
mimicplay/scripts/aloha_process/aria_content/robot_traj.png
mimicplay/*.png
act/detr/detr.egg-info/PKG-INFO
mimicplay/v_3_after.png
mimicplay/v_3.png
mimicplay/scripts/masking/overlays/
debug_ims/*
